.container.firstcontent

    h1 online clinics, and, patients getting profiled?
    p.text Imagine you are suffering from a disease, or just having some symptoms that worry you.
    p.text Imagine to look online for the services of online clinics, they are a web portal, with many explanations of the treatment. You look for them, you read the pages, take your decision and then make a reservation.
    p.text Some days after, you get your exam. Some month after, you have to pay your health insurance: and... seems they know about your condition.
    p.text Wonder why? Trackers get installed in most of the online healthcare system. Sneakily some web companies do business out of watching your navigation and guessing things about you, studying you, knowing you, and selling you.
    p.text These companies are enabled by the online clinics, the ultimate responsibly when you navigate to their website.
    p.text We show you who they are, and who are the enablers. If you are a customer of them, let them hear your voice
    
    h3 Colombia
    #colombiacompanyrank
    h3 Chile
    #chilecompanyrank
    h3 Brasil
    #brasilcompanyrank
    h3 Mexico
    #mexicocompanyrank

    h2 ...some basic cookies analysis
    h3 Colombia    
    #colombiacookiesrank
    h3 Chile
    #chilecookiesrank
    h3 Brasil
    #brasilcookiesrank
    h3 Mexico
    #mexicocookiesrank

include footer
